### Note: I received four participant CSV files and determined that the second and third file were the same participant, so I removed participant_3.csv from the analysis

### Import necessary packages

In [153]:
import pandas as pd
import numpy as np

### Read each participant's CSV file to their own dataframe

In [154]:
p1 = pd.read_csv('participant_1.csv')
p2 = pd.read_csv('participant_2.csv')
p3 = pd.read_csv('participant_4.csv')

### Check shape of each file to see the number of datapoints before cleaning

In [155]:
p1.shape

(35343, 13)

In [156]:
p2.shape

(41423, 13)

In [157]:
p3.shape

(17607, 13)

## Remove null values and missing data

In [158]:
p1test = p1.replace(0,np.nan)

In [159]:
p1_c = p1test.dropna(subset=['r_size','r_conf','r_x_pos','r_y_pos','l_size','l_conf','l_x_pos','l_y_pos'])

In [160]:
p2test = p2.replace(0,np.nan)

In [161]:
p2_c = p2test.dropna(subset=['r_size','r_conf','r_x_pos','r_y_pos','l_size','l_conf','l_x_pos','l_y_pos'])

In [162]:
p3test = p3.replace(0,np.nan)

In [163]:
p3_c = p3test.dropna(subset=['r_size','r_conf','r_x_pos','r_y_pos','l_size','l_conf','l_x_pos','l_y_pos'])

### fix timestamp at 0 seconds

In [164]:
p1_c.at[0,'timestamp']=0

In [165]:
p2_c.at[0,'timestamp']=0

In [166]:
p3_c.at[0,'timestamp']=0

### Check shape of files post-cleaning to make sure there are still enough datapoints

In [167]:
p1_c.shape

(31998, 13)

In [168]:
p2_c.shape

(40453, 13)

In [169]:
p3_c.shape

(16056, 13)

In [170]:
p1_c.head()

,timestamp,r_size,r_conf,r_x_pos,r_y_pos,l_size,l_conf,l_x_pos,l_y_pos,block_number,block_type,correct,difficulty
0,0.000,80.5300,0.9406,302.805,158.092,108.69200,0.583333,302.805,158.092,NaN,NaN,NaN,NaN
1,0.016,80.8112,0.9406,302.514,157.777,65.28710,0.029412,302.514,157.777,NaN,NaN,NaN,NaN
2,0.032,81.1755,0.9406,302.604,158.067,-1.80625,-1.000000,302.604,158.067,NaN,NaN,NaN,NaN
5,0.084,82.2844,0.9406,303.238,159.134,53.30460,0.117647,303.238,159.134,NaN,NaN,NaN,NaN
6,0.100,82.9023,0.9406,302.769,160.591,70.39160,0.029412,302.769,160.591,NaN,NaN,NaN,NaN

In [171]:
p2_c.head()

,timestamp,r_size,r_conf,r_x_pos,r_y_pos,l_size,l_conf,l_x_pos,l_y_pos,block_number,block_type,correct,difficulty
0,0.000,100.714,0.9406,322.510,226.556,108.508,0.9142,322.510,226.556,NaN,NaN,NaN,NaN
1,0.017,101.263,0.9406,321.512,225.195,108.195,0.9142,321.512,225.195,NaN,NaN,NaN,NaN
2,0.036,101.467,0.9406,319.743,224.022,108.454,0.9142,319.743,224.022,NaN,NaN,NaN,NaN
3,0.055,101.609,0.9406,317.514,222.572,108.811,0.9142,317.514,222.572,NaN,NaN,NaN,NaN
4,0.068,101.723,0.9406,314.892,221.805,108.522,0.9142,314.892,221.805,NaN,NaN,NaN,NaN

In [172]:
p3_c.head()

,timestamp,r_size,r_conf,r_x_pos,r_y_pos,l_size,l_conf,l_x_pos,l_y_pos,block_number,block_type,correct,difficulty
0,0.000,2506.654815,0.885714,288.806,158.424,12083.412115,0.914000,288.806,158.424,NaN,NaN,NaN,NaN
1,0.031,2478.761819,0.818182,288.195,158.247,12065.299138,0.932653,288.195,158.247,NaN,NaN,NaN,NaN
2,0.066,1988.929900,1.000000,284.397,168.938,11935.131846,0.934000,284.397,168.938,NaN,NaN,NaN,NaN
3,0.098,1960.245206,0.972500,287.666,162.834,11929.400877,0.924286,287.666,162.834,NaN,NaN,NaN,NaN
4,0.130,2060.917457,1.000000,287.554,161.081,12086.373807,0.934000,287.554,161.081,NaN,NaN,NaN,NaN